body{
  background-color: black;
  color:white;
  font-family: Verdana, sans-serif;
  text-align: center;
  margin:5px;
}


h1 {
  font-size: 56px;
  line-height: 66px;
  font-weight: bold;
  margin:40px 0;
}

h2 {
  font-size:40px;
  line-height: 50px;
  font-weight: bold;
  margin:35px 0;
}

h2.cta{
  background-image: url("../images/phone.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top:140px;
}

p {
  margin: 22px 0;
  font-size: 21px;
  line-height: 26px;
  color:gray;
}

footer p{
  text-align: right;
}


a {
  font-size: 16px;
  color:#7fffd4;
}
